@using System.Collections

<body style="background-color: yellowgreen; color: darkblue; font-size: 46px">
    <p>The triangle with greatest area:</p>
    @foreach (var line in (IEnumerable)ViewData["GreatestByArea"])
    {
        @line<br>
    }
</body>