@using System.Collections

<body style="background-color: yellowgreen; color: darkblue; font-size: 46px">
    @foreach (var line in (IEnumerable)ViewData["Info"])
    {
        @line<br>
    }
</body>