@{
    ViewData["Title"] = "SprintTasks";
}

<h1>Sprint13. Tasks</h1>

<a class="nav-link text-dark" asp-area="" asp-controller="Tasks" asp-action="Greetings">Greetings</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Tasks" asp-action="ProductInfo">Products</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Tasks" asp-action="SuperMarkets">Supermarkets</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Tasks" asp-action="ShoppingList">Shopping list</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Tasks" asp-action="ShoppingCart">Shopping cart</a>