@model TaskAuthenticationAuthorization.ViewModels.LoginModel

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    @Html.LabelFor(m => m.Email, "Enter email")
    <br />
    @Html.TextBoxFor(m => m.Email, new { type = "email" })
    <br />
    @Html.LabelFor(m => m.Password, "Enter password")
    <br />
    @Html.TextBoxFor(m => m.Password, new { type = "password" })
    <br />
    <br />

    <input class="edit-save" type="submit" value="Sign in" class="btn btn-outline-dark" />
}