@{
    ViewData["Title"] = "Sprint 13";
}

<div class="text-center">
    <h1 class="display-4">Views</h1>
    <p>Introduce <a href="https://github.com/FreeJobMe/sprint-13-views-roman-danylevych-andrii-tsemko">our project</a>.</p>
</div>
